/* all button sizing  */

.btn {
  font-size: 2vmin;
}


/* fixed rooster logo top left */
#logo {
  padding-left: 6rem;
  z-index: 11;
  width: 300px;
  height: 150px;
  position: fixed;
}


/* top banner "heRow" */
#heRow {
  animation-name: fadeInHero;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  position: relative;
  text-align: center;
  background-image: url("./src/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* hero fade in animation */
@keyframes fadeInHero {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* welcom text in heRow */
#welcome {
  padding-top: 20vw;
  padding-bottom: 20vw;
}


/* welcome to text in heRow */
#welNoFill {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 8vmin;
  font-family: "Open Sans", sans-serif;
}

/* Rooster Grin text in heRow div */
#welRooster {
  font-size: 7vmin;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* button in heRow div */
#heroButt {
  padding: 1vw;
  background-color: #AC5FD1;
}

/* cilimber and lorem paragraph */
#climbRow {
  overflow: hidden;
  word-wrap: break-word;
  min-height: fit-content;
}
/* climber lorem div  */
#climbLorem {
  padding-left: 15vw;
  padding-top: 5vw;
  padding-right: 10vw;
}
/* climber lorem div paragraph */

#climbLoremP {
  text-align: left;
  font-size: calc(1vw + 1px);
  font-family: "Open Sans", sans-serif;
}

/* right col-6 of climber row full climber photo */
#climbLoremPic {
  width: 50vw;
}
/* mom banner row with button */
#momRow {
  background-image: url("./src/assets/banner-1.jpg");
  position: relative;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* mom row lorem button div */
#momem {
  padding-left: 15vmin;

  padding-top: 15vw;
  padding-bottom: 20vw;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: calc(1vw + 1px);
}
/* mom row button */
#momButt {
  padding: 1vw;
  background: #FF7218;
}
/* icon row lorem div */


#iconLorem {
  padding-left: 15vw;
  padding-top: 10vw;
  padding-right: 10vw;
}
/* icon row left col-6 paragraph */
#iconLoremP {
  text-align: left;
  font-size: calc(1vw + 1px);
  font-family: "Open Sans", sans-serif;
}

/* icon row right col-6 icon group with animation */

#svgDiv {
  align-items: center;
  text-align: center;
  padding-top: 10vmin;

  background: whitesmoke;
}

/* icon group child divs */
#svgDiv>div {
  padding: 3vw;
  font-size: 1.5vw;
  animation: bounce 15s infinite alternate;
  width: 60%;
}
/* icon with div animation */
@keyframes bounce {
  from {
    transform: translateY(-5vw);
  }

  to {
    transform: translateY(3vw);
  }
}
/* circle boarder for icons */
.circle {
  height: 45%;
  border: 0.2px solid #C48EDB;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}
/* kid lorem and button row */
#kidRow {
  background-image: url("./src/assets/banner-2.jpg");
  position: relative;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* kid row lorem p div */
#kidRem {
  padding-left: 55vw;
  padding-right: 15vw;
  padding-top: 15vw;
  padding-bottom: 15vw;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: calc(1vw + 1px);
}
/* kid row button */
#kidButt {
  padding: 1vw;
  background: #FF7218;
}
/* rating row with carousel and rating star section */
#ratingRow {
  width: 98vw;
  overflow: hidden;
  word-wrap: break-word;
  min-height: fit-content;
}
/* checked star spon */
.checked {
  color: #FF7218;
}


/* rating row stars left col-6 div */
#ratingStars {
  text-align: center;
  padding-top: 5vw;
}
/* rating row right col-6 div */
#carouselExampleCaptions {
  background: whitesmoke;
}
/* review carousel name and date */
.carousel-captionh5 {
  font-size: 2.5vw;
  color: #613475;
  font-family: "Open Sans", sans-serif;
}
/* review carousel paragraph */

.carousel-captionP {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}
/* footer with text and social link imgs */
#footer {
  text-align: center;
  align-items: center;
  position: relative;
  width: 102%;
  height: 10vw;
  background: whitesmoke;

}
/* footer img resize */
#footer>img {
  height: 50%;
}
/* global link colour change */
a {
  color: #623576;
}