/* all button sizing  */

.btn {
  font-size: 2vmin;
}


/* fixed rooster logo top left */
#logo {
  padding-left: 6rem;
  z-index: 11;
  width: 300px;
  height: 150px;
  position: fixed;
}


/* top banner "heRow" */
#heRow {
  animation-name: fadeInHero;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  position: relative;
  text-align: center;
  background-image: url("./src/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@keyframes fadeInHero {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* welcom text in heRow */
#welcome {
  padding-top: 20vw;
  padding-bottom: 20vw;
}


/* welcome to text in heRow */
#welNoFill {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 8vmin;
  font-family: "Open Sans", sans-serif;
}

/* Rooster Grin text in heRow div */
#welRooster {
  font-size: 7vmin;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* button in heRow div */
#heroButt {
  padding: .8rem;
  background-color: #AC5FD1;
}

/* cilimber and lorem paragraph */
#climbRow {
  overflow: hidden;
  word-wrap: break-word;
  min-height: fit-content;
}

#climbLorem {
  padding-left: 15vw;
  padding-top: 5vw;
  padding-right: 10vw;
}

#climbLoremP {
  text-align: left;
  font-size: calc(1vw + 1px);
  font-family: "Open Sans", sans-serif;
}

#climbLoremPic {
  width: 50vw;
  background: #000;
}

#momRow {
  background-image: url("./src/assets/banner-1.jpg");
  position: relative;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#momem {
  padding-left: 15vmin;

  padding-top: 15vw;
  padding-bottom: 20vw;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: calc(1vw + 1px);
}

#momButt {
  background: #FF7218;
}

#svgDiv {
  background: #000;
}

#iconLorem {
  padding-left: 15vw;
  padding-top: 10vw;
  padding-right: 10vw;
}

#iconLoremP {
  text-align: left;
  font-size: calc(1vw + 1px);
  font-family: "Open Sans", sans-serif;
}

#svgDiv {
  align-items: center;
  text-align: center;
  padding-top: 10vmin;

  background: whitesmoke;
}

#svgDiv>div {
  padding: 3vw;
  font-size: 1.5vw;
  animation: bounce 15s infinite alternate;
  width: 60%;
}

@keyframes bounce {
  from {
    transform: translateY(-5vw);
  }

  to {
    transform: translateY(3vw);
  }
}

.circle {
  height: 45%;
  border: 0.2px solid #C48EDB;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

#kidRow {
  background-image: url("./src/assets/banner-2.jpg");
  position: relative;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#kidRem {
  padding-left: 55vw;
  padding-right: 15vw;
  padding-top: 15vw;
  padding-bottom: 15vw;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: calc(1vw + 1px);
}

#kidButt {
  background: #FF7218;
}

#ratingRow {
  width: 98vw;
  overflow: hidden;
  word-wrap: break-word;
  min-height: fit-content;
}

.checked {
  color: #FF7218;
}



#ratingStars {
  text-align: center;
  padding-top: 5vw;
}

#carouselExampleCaptions {
  background: whitesmoke;
}

.carousel-captionh5 {
  font-size: 2.5vw;
  color: #613475;
  font-family: "Open Sans", sans-serif;
}

.carousel-captionP {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}

#footer {
  text-align: center;
  align-items: center;
  position: relative;
  width: 102%;
  height: 10vw;
  background: whitesmoke;

}

#footer>img {
  height: 50%;
}

a {
  color: #623576;
}